{% extends 'skeleton.html' %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}

{% block content %}

<div class="body-wrapper">
    <section class="hero py-32">
      <div class="hero-wrapper w-[60%] m-auto">
        <div class="hero-heading text-center w-[70%] m-auto flex flex-col gap-4">
          <h2 class="text-[40px] font-bold">
            Find Brandable Domains in Seconds
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Assumenda in nulla atque et nihil delectus, debitis maxime minima
            officia dolorem soluta cupiditate odit.
          </p>
        </div>
        <div class="hero-search w-[80%] m-auto text-center mt-8">
          <div class="tools-navigation">
            <ul class="flex justify-center gap-2 pb-4">
              <li class="px-4 py-2 bg-[#057575b1] rounded-full text-white">
                <a href="/">Keyword Based</a>
              </li>
              <li class="px-4 py-2 bg-gray-300 rounded-full">
                <a href="/ai-domain-generator/">AI Based</a>
              </li>
              <li class="px-4 py-2 bg-gray-300 rounded-full">
                <a href="/after-market/">After Market</a>
              </li>
            </ul>
          </div>
          <form method="post" id="s-form">
            {% csrf_token %}
            <div class="relative flex flex-col">
              <input type="text" id="prompt" required="" placeholder="Describe your brand here..."
                class="w-[100%] rounded-full border py-6 px-6 font-medium shadow-sm transition duration-100 ease-in-out focus:border-transparent focus:outline-none focus:ring-2 focus:ring-[#057575] focus:ring-opacity-80 pr-60"
                name="prompt" value="" required />
              <div class="flex items-center absolute inset-y-0 right-0 space-x-2 pr-4" style="justify-content: space-between;">
                <button type="submit" id="submitButton" aria-disabled="false"
                  class="flex h-12 w-full items-center justify-center rounded-full bg-[#057575] px-4 py-3 font-medium text-white shadow-sm focus:bg-[#057575]">
                  <i class="fas fa-spinner fa-spin feature-hidden fa-spinner-g" style="margin-right: 5px;"></i>
                  <span>Generate</span>
                  <i
                class="fa-solid fa-arrow-right" style="margin-left: 5px;"></i>
                </button>
              </div>
            </div>
          </form>
          <div class="small-ctr mt-4 text-gray-500">
            You have <span id="remainingSearches">3</span> free domain search left today.
            <a href="/signup/" class="underline text-blue-600">Sign-Up</a> for
            unlimited domain search.
          </div>
          <br>
          <div class="text-center w-[80%] mx-auto mt-6 text-blue-600 select-none">
            <p class="filter-text inline-block cursor-pointer text-gray-500">
              Filter Options <i class="fa-solid fa-angle-down up-filter"></i><i class="fa-solid fa-angle-up feature-hidden down-filter"></i>
            </p>
          </div>
          <div
            class="name-filter w-[90%] mx-auto mt-5 text-[#000000a7] lg:p-8 p-2 bg-slate-100 shadow-2xl rounded-xl hidden transition ease-in-out" style="
            border-radius: 10px;
        ">
            <div class="inner-nf flex gap-3 lg:flex-row" style="
            justify-content: space-evenly;
            padding: 1rem;
        ">
              <div class="nf-length border lg:w-[45%] rounded-md bg-white">
                <div class="inner-px p-4 flex-col space-y-4">
                  <p class="font-bold text-black">Name Length</p>
                  <p>Length of the generated domain name (excluding the TLD)</p>
                  <div class="nf-word-filter flex items-center justify-between" style="margin-top: 20px;">
                    <input type="number" name="number" id="number11" placeholder="7"
                      class="number-field rounded-md text-black border border-[#3131317a] focus:border-0" style="width: 40%; padding: 5px;" />
                    <p>to</p>
                    <input type="number" name="number2" id="number22" placeholder="20"
                      class="number-field rounded-md text-black border border-[#3131317a] focus:border-0" style="width: 40%; padding: 5px;" />
                  </div>
                </div>
              </div>
              <div class="nf-tld border lg:w-[45%] rounded-md bg-white">
                <div class="inner-px p-4 flex-col space-y-4">
                  <p class="font-bold text-black">Check TLD</p>
                  <p>Generate domain name with the selected tld.</p>
                  <div class="tld-available">
                    <ul class="flex flex-wrap gap-2" id="radio-group">
                      <li><input type="radio" id="com" name="tld" value="com" checked>
                        <label for="com">.com</label>
                      </li>
                      <li><input type="radio" id="net" name="tld" value="net">
                        <label for="net">.net</label>
                      </li>
                      <li><input type="radio" id="all" name="tld" value="org">
                        <label for="all">.org</label>
                      </li>
                      <li><input type="radio" id="io" name="tld" value="io">
                        <label for="io">.io</label>
                      </li>
                      <li><input type="radio" id="co" name="tld" value="co">
                        <label for="co">.co</label>
                      </li>
                      <li><input type="radio" id="us" name="tld" value="us">
                        <label for="us">.us</label>
                      </li>
                    </ul>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

    <section class="domain-suggestion py-20 bg-slate-100 relative" id="domain-suggestion-engine">
      <div class="blank-domain-suggestion container m-auto">
        <div class="text-blank-domain text-2xl text-center font-semibold p-4 lg:p-0">
          <p>No Domains to show! Generate to see the result!</p>
        </div>
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_oykzlfjx.json" background="transparent"
          speed="1" style="height: 300px" loop autoplay></lottie-player>
      </div>

      <div class="wrapper-suggestion container m-auto lg:flex lg:justify-center lg:gap-6 lg:flex-wrap">

      </div>

      <!-- <div class="alert-fi">
          <div>
            Bookmarked the domain!<span>&times;</span> 
          </div>
        </div> -->


        <!-- Popup Started -->


        <div class="left-wrapper hidden-el bg-white" style="position:relative; z-index: 20;width: 95%;margin: auto;">
            <div class="left text-black overflow-auto overscroll-contain"
              style="position: fixed;height: 75vh;bottom: 0;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: #e3eafd;width: 95%;box-shadow: -2px -3px 20px 0px #00000030;">
              <div class="left-insider relative">
                <div class="sticky-modal-header" style="padding: 2rem 3rem 1rem 3rem;
                  border-bottom: 1px solid silver;
                  position: sticky;
                  top: 0;
                  z-index: 50;
                  background: #e3eafdf0;">
                  <div class="modal-header flex justify-between items-center">
                    <span class="flex gap-2 items-center">
                      <p class="font-bold inside-modal-domain-name text-2xl"></p>
                      <p id="copy"><i class="fa-regular fa-copy copy-slate cursor-pointer"></i></p>
                      <p id="copy-response">Successfully copied.</p>
                    </span>
                    <span class="closeButton">
                      <p
                        class="font-bold text-4xl my-auto close cursor-pointer select-none px-2 rounded-md items-center align-middle">
                        <i
                          class="fa-solid fa-xmark text-[20px] text-gray-400 rounded-full bg-slate-200 p-[13px] py-[10px] hover:bg-slate-400 hover:text-white"></i>
                      </p>
                    </span>
                  </div>
                  <div class="modal-meta flex justify-start items-center gap-3 mt-2 border-b pb-2">
                    <div class="speak-loud cursor-pointer text-blue-600">
                      <i class="fa-solid fa-volume-high"></i> Pronounce
                    </div>
                    <div class="searchOnGoogle cursor-pointer text-blue-600 lg:block">
                      <i class="fa-solid fa-square-arrow-up-right"></i> Search on Google
                    </div>
                  </div>
                </div>
          
                <div class="modal-box p-6" style="display: flex;
                  flex-direction: column;
                  gap: 1rem;">
                  <div class="tlds-group flex flex-col gap-4" style="align-items: baseline;">
                    <div class="cheap-tlds p-4 w-[100%] bg-slate-100 rounded-lg text-sm relative">
                      <h3 class="text-2xl font-semibold mb-2">
                        <span class="d-pdf"></span> price on different platforms
                      </h3>
                      <ul class="lg:flex lg:flex-wrap items-center mt-4 text-sm ulElDiffPlatforms" style="visibility: visible; justify-content: space-between;">
                        
                      </ul>
                    </div>
                    <div class="available-tlds p-4 w-[100%] bg-slate-100 rounded-lg mt-5 relative">
                      <p class="text-2xl font-semibold">
                        Domain Availability by Extension
                      </p>
                      <div class="loader-tlds text-center feature-hidden" style="position: absolute;
                      left: 50%;
                      top: 50%;">
                        <i class="fas fa-spinner fa-spin"></i>
                      </div>
                      <ul class="lg:flex lg:flex-wrap items-center mt-4 text-sm ulElement" style="visibility: visible; justify-content: space-between;">
                          
                      </ul>
                    </div>
                  </div>
                  <div class="search-group" style="display: flex;
                  flex-direction: column;
                  gap: 1rem;">
                    <div class="available-handle bg-slate-100 rounded-lg mt-5" style="width: 100%;padding: 30px">
                      <h2 class="font-semibold text-2xl">
                        Social Media Username Availability
                      </h2>
                      <div class="user-checker py-4">
                        <form action="" method="post" id="u-form">
                          {% csrf_token %}
                          <input type="search" name="u-search" id="u-search" class="p-4 w-[100%] cursor-pointer rounded-md"
                            placeholder="Flix" />
                          <button type="submit" class="lg:w-auto w-[100%] p-4 rounded-md text-white mt-3 gap-2"
                            style="background-color: #00A878;">
                            <i class="fas fa-spinner fa-spin feature-hidden fa-spinner-u"></i> Check Username
                          </button>
                        </form>
                      </div>
                      <div class="social-box flex flex-wrap py-2" style="gap:2rem">
                        <p class="text-sm flex lg:flex-none lg:gap-0 lg:w-auto check-icon">
                          <i class="fa-brands fa-instagram flex pr-1.5"></i><span>Instagram</span>
                        </p>
                        <p class="text-sm flex lg:flex-none lg:gap-0 lg:w-auto check-icon">
                          <i class="fa-brands fa-twitter flex pr-1.5"></i><span>Twitter</span>
                        </p>
                        <p class="text-sm flex lg:gap-2 lg:w-auto lg:flex-none check-icon">
                          <i class="fa-brands fa-youtube flex pr-1.5"></i><span>Youtube</span>
                        </p>
                        <p class="text-sm flex lg:gap-2 lg:w-auto lg:flex-none check-icon">
                          <i class="fa-brands fa-reddit-alien flex pr-1.5"></i><span>Reddit</span>
                        </p>
                        <p class="text-sm flex lg:gap-2 lg:w-auto lg:flex-none check-icon">
                          <i class="fa-brands fa-tumblr flex pr-1.5"></i><span>Tumblr</span>
                        </p>
                      </div>
                    </div>
                    <div class="trademark-search bg-slate-100 rounded-lg mt-5" style="width: 100%;padding: 30px">
                      <p class="text-2xl font-semibold">Check Trademark Availability</p>
                      <form action="" method="post" id="tr-form">
                        {% csrf_token %}
                        <input type="search" name="tr-search" id="tr-search" class="w-[100%] p-4 rounded-md mt-5 cursor-pointer"
                          placeholder="Flix" />
                        <button type="submit" class="lg:w-auto w-[100%] text-white p-4 rounded-md mt-3 gap-2"
                          style="margin-right: 0.8rem;background-color: #00A878;">
                          <i class="fas fa-spinner fa-spin fa-spinner-t feature-hidden"></i>Search Trademark
                        </button>
                        <a href="https://tmsearch.uspto.gov/search/search-information" target="_blank" rel="noopener noreferrer">
                          <button type="submit" class="lg:w-auto w-[100%] text-white p-4 rounded-md mt-3"
                            style="background-color: #00A878;">
                            Check Manually <i class="fa-solid fa-arrow-up-long" style="transform: rotate(45deg);"></i>
                          </button>
                        </a>
                      </form>
                      <div class="tr-alert p-4 hidden">
          
                      </div>
                      <p class="text-sm text-gray-400 mt-2">
                        Currently trademark search is only availabe for United States
                        only.
                      </p>
                      <p class="text-sm text-gray-400 mt-2">
                        Note: Never use any trademark brand's name in your brand name or domain name. If you check
                        "GoogleMyBusiness" in trademark checker it may show that it is available to register, but as it
                        contains a already trademarked brand name "Google", to avoid legal issue you should avoid this type of
                        name.
                      </p>
                      <p class="text-sm text-gray-400 mt-2">
                        We are using USPTO trademark database for checking trademark availability. However it is always
                        advised to check manually before registering your domain. <a
                          href="https://www.uspto.gov/trademarks/search" target="_blank" rel="noopener noreferrer" class="td-info"
                          style="color: #0063EB;display: inline-flex;
                        align-items: center;
                        gap: 3px;">Check USPTO Trademark Database <i class="fa-solid fa-arrow-up-long"
                            style="transform: rotate(45deg);"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    {% endblock content %}